body {
    background: rgba(0, 0, 0, 0.95) url('../img/hape1.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    color: #fff; /* Warna teks putih */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h2 {
    color: rgb(144, 144, 144); /* Warna judul */
    margin-top: 200px;
    font-size: 75px;
}
table {
    width: 80%;
    margin: 20px auto; /* Menengahkan tabel */
    border-collapse: collapse;
    margin-top: 150px fixed;
}

th, td {
    border: 0.1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333; /* Warna latar belakang header */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #444; /* Warna latar belakang baris genap */
}

tr:nth-child(odd) {
    background-color: #555; /* Warna latar belakang baris ganjil */
}

button {
    background-color: orange; /* Warna tombol */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: orangered; /* Warna tombol saat dihover */
}
